body {
    background-color: #151b27;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: #1f2839;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.heading {
    font-size: 20px;
    margin: 4px;
    margin-left: 8.5pc;
    display: block;
    text-align: left;
}
.blue {
    color: rgb(50, 158, 201);
}
.links {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    width: 30pc;
    margin-left: 43pc;
    justify-content: space-between;
}
a {
    color: white;
    justify-content: space-between;
    text-decoration: none;
}
a:hover {
    color: rgb(50, 158, 201);
}
.contact-heading {
    font-size: 40px;
    text-align: center;
    margin-top: 7pc;
}
.contact-form {
    display: flex;
    flex-direction: row;
    margin: 3pc;
    margin-left: 12.8pc;
    /* margin-top: 5pc; */
    margin-bottom: 3pc;
    align-items: center;
    line-height: 8px;
}
input {
    color: white;
    font-size: 17px;
    border: 2px solid rgba(50, 158, 201, 0.582);
    border-radius: 8px;
    width: 23pc;
    height: 50px;
    background-color: #151b27;
}
input:hover {
    background-color: rgba(28, 67, 117, 0.114) ;
}
textarea {
    color: white;
    font-size: 17px;
    margin-top: 8px;
    width: 46.8pc;
    border: 2px solid rgba(50, 158, 201, 0.582);
    border-radius: 8px;
    background-color: #151b27;
}
textarea:hover {
    background-color: rgba(28, 67, 117, 0.114) ;
}
button {
    padding: 13px;
    padding-left: 23px;
    padding-right: 23px;
    margin-top: 20px;
    background-color: rgb(50, 158, 201);
    border-radius: 20pc;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
button:hover {
    background-color: rgba(50, 158, 201, 0.582);
}

.portfolio {
    /* font-size: 19px; */
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    width: 80pc;
    margin-left: 12.5pc;
    column-gap: 10pc;
    row-gap: 5.5pc;
}
.portfolio p {
    position: absolute;
    font-size: 16px;
    margin: 0;
}
.heading2 {
    font-size: 40px;
    text-align: center;
    /* margin-top: 5pc; */
    margin-bottom: 4pc;
}
.portfolio img {
    position: relative;
    border: 1px solid rgb(50, 158, 201);
    width: 18pc;
    height: 11pc;
    border-radius: 10px;
    /* margin: 10px; */
}
.portfolio img:hover {
    background-color: #151b27;
    opacity: 0.7;
}
.portfolio h3 {
    margin: 5px 0 0 0;
    padding: 0;
}
.portfolio button {
    font-weight: bold;
    font-size: 18px;
    padding: 5px 8px 5px 8px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 7px;
    /* align-items: center;
    justify-content: center; */
}
.details {
    display: none;
}
#regi-form {
    margin-left: 1.8pc;
}
.about-me {
    display: flex;
    flex-direction: row;
    margin-top: 7.8pc;
}
.image img{
    border: 1px solid rgb(50, 158, 201);
    border-radius: 30px;
    height: 550px;
    margin-left: 15pc;
}
.about {
    display: block;
    line-height: 44px;
    margin-left: 50px;
    font-size: 19.5px;
}
#about-heading {
    font-size: 28px;
    margin-bottom: 0;
    margin-top: 24px;

}
.home-page {
    background-color: #1f2839;
    display: flex;
    flex-direction: row;
    padding-top: 6pc;
    padding-bottom: 8pc;
}
.intro {
    display: flex;
    flex-direction: column;
    padding-top: 9pc;
    line-height: 1px;
    padding-left: 17pc;
}
.abt{
    font-size: 23px;
}
#name {
    margin-right: 10pc;
    font-size: 60px;
}
#home-img {
    border: 1px solid rgb(50, 158, 201);
    border-radius: 10px;
    width: 30pc;
    height: 30pc;
    border-radius: 100%;
    margin-left: 8pc;
}
#line {
    margin-top: 5px;
}
.download {
    margin-top: 15px;

}
#dwnld-btn {
    margin: 0;
}
.contact-information {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 13pc;
    margin-bottom: 3pc;
}
#email2 , #phone , #address {
    border: none;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin: 10.2px;
}
#form {
    display: flex;
    flex-direction: column;
}
.contact {
    display: flex;
    flex-direction: row;
}
.information {
    margin-left: 5px;
    margin-top: 3px;
    line-height: 6px;
}
.contact-icons {
    line-height: 5px;
}
.mycontact {
    padding-bottom: 20px;
    margin-left: 0.8pc;
}
#send-btn {
    border-radius: 10px;
}
.connect {
    height: 9pc;
    background-color: #1f2839;
}
.connect-via h2 {
    text-align: center;
    font-size: 25px;
    padding-top: 7px;
}
.connect img {
    border: none;
    border-radius: 30px;
    width: 45px;
    height: 40px;
}
.connect-img {
    margin-left: 49.8pc;
    width: 200px;
}
.copywrite {
    text-align: center;
}
.skills-section {
    margin-bottom: 5pc;
}
.myskills {
    font-size: 40px;
    text-align: center;
    margin-top: 8pc;
    margin-bottom: 5pc;
}
.skills-container img {
    width: 60px;
    height: 60px;
    border: 1px solid rgb(50, 158, 201);
    border-radius: 30px;
}
.skills-container {
    font-size: 19px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    width: 78pc;
    margin-left: 13pc;
}
.skill1 , .skill2 , .skill3 , .skill4{
    width: 20pc;
    height: 15pc;
    background-color: #1f2839;
    padding: 15px;
    padding-top: 2pc;
    text-align: center;
    border: 1px solid rgb(50, 158, 201);
    border-radius: 30px;
}
.skill4 {
    margin-top: 3pc;
    grid-column: 2;
}